body {
    background-color: #000;
    color: #ffff;
}

.navbar-brand img {
    max-width: 70px;
    margin-left: 50px;
}

.form-inline a {
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 21px;
}

.pc {
    transform: scaleX(-1);
    width: 100%;
    margin-top: 106px;
    margin-left: -30px;
}

.text {
    width: 100%;
    margin-top: 10px;
}

.depan {
    position: absolute;
    top: 494px;
    left: 283px;
    background-color: red;
    color: #fff;
    border: none;
    padding: 12px 33px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#frame0 {
    background-color: grey;
    margin: 0 auto;
    margin-top: 42px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 1096px;
    border-radius: 20px;
    padding-top: 14px;
}

#frame1 {
    background-color: grey;
    margin: 0 auto;
    margin-top: 42px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 396px;
    border-radius: 20px;
    padding-top: 14px;
}

.form1 {
    margin-left: 31px;
}

.form-input1 {
    width: 91%;
    display: block;
    clear: both;
    border-radius: 10px;
}

.title-input1 {
    float: left;
}

.button {
    color: #fff;
    background-color: blue;
    border: none;
    padding: 8px 22px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.title-menu {
    font-family: monospace;
    background-color: rgb(19, 18, 18);
    text-align: center;
    margin-bottom: 100px;
    height: 202px;
    max-width: 200px;
}

.menu-block {
    margin-left: 10px;
    margin-top: 66px;
    font-size: 50px;
}

.kategori ul {
    list-style: none;
    margin-left: -40px;
}

.kategori label {
    cursor: pointer;
    font: inherit;
    font-weight: 100;
}

.kategori{
    margin-left: 20px;
    height: 2000px;
    width:234px;
    float: left;
}

.kategori h4{
    /* margin-top: 66px; */
    border-bottom: 3px solid white;
}

#utama{
    margin-top: 66px;
    margin-left: 336px;
}

/* DETAIL */

.carousel-inner img {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.harga {
    text-align: center;
    font-size: 60px;
}

.tombol {
    margin-left: 706px;
    text-decoration: none;
    margin-top: -51px;
}

.lanjut {
    color: #fff;
    background-color: black;
    border-color: #fff;
    padding: 6px 23px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.tambah {
    color: #fff;
    background-color: blue;
    border: none;
    padding: 8px 22px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.stok {
    margin-left: 350px;
    font-size: 22px;
}

#list img{
    max-width: 200px;
    border-bottom: 2px solid #fff;
    margin-top: 44px;
}

#list{
    margin-left:10%;
    width:55%;
    float:left;
}

#list2 {
    margin-top: 44px;
    float:left;
    width:350px;
}

#pilihKurir{
    background-color: blue;
    width:350px;
    color:white;
    font-size: 20px;
}

#bayar{
    padding:20px;
    margin-top:10px;
    border:2px solid white;
}